* {
  transition: all 0.3s;
}

html {
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
  background: #ffffff;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
img {
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
